body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.inline-block {
  display: inline-block;
}

.ant-btn-link {
  padding: 0;
}

.img-crop-modal .img-crop-control {
  width: 100%;
}

.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line-clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.line-clamp-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.min-padding {
  padding: 4px;
}
